

        .background-initial {background-color: rgb(130, 182, 255); top: 5px; left: 154px; width: 1024px; height: 768px;
        }
        .silex-id-1542568100344-31 {top: 500px; left: 40px; height: 120px; width: 460px;
        }
        .silex-id-1542574021398-49 {top: 560px; left: 440px; height: 60px; width: 60px;
        }
        .silex-id-1542567878191-26 {top: 140px; left: 40px; height: 300px; width: 460px;
        }
        .silex-id-1542574007550-48 {top: 380px; left: 440px; height: 60px; width: 60px;
        }
        .body-initial {background-color: rgb(255, 255, 255); border-color: rgb(255, 0, 0);
        }
        .silex-id-1542591014401-5 {top: 110px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591028661-6 {top: 110px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591031520-7 {top: 110px; left: 760px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591051765-8 {top: 110px; left: 870px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591054866-9 {top: 180px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591058984-10 {top: 180px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591062421-11 {top: 180px; left: 760px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591065095-12 {top: 180px; left: 870px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591067437-13 {top: 250px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591070647-14 {top: 250px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591072443-15 {top: 250px; left: 760px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591074229-16 {top: 250px; left: 870px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591076459-17 {top: 320px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591080268-18 {top: 320px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591082549-19 {top: 320px; left: 760px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591084736-20 {top: 320px; left: 870px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591089320-21 {top: 390px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591092369-22 {top: 390px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591095144-23 {top: 390px; left: 760px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591097442-24 {top: 390px; left: 870px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591101064-25 {top: 460px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591103850-26 {top: 460px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591106650-27 {top: 460px; left: 760px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591109701-28 {top: 460px; left: 870px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591113200-29 {top: 530px; left: 540px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542591131940-30 {top: 530px; left: 650px; height: 63px; width: 100px; border-width: 3px; border-style: outset; border-color: rgb(203, 0, 0);
        }
        .silex-id-1542568100344-31 > textarea {font-size: 30px; font-family: "Comic Sans MS", "Comic Sans MS", cursive;
        }
    